<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AD_Employee.Properties.Settings.DWConnectionString"
            connectionString="Data Source=txhousqlc01;Initial Catalog=DW;User ID=workflowgen;Password=Pwnzor93"
            providerName="System.Data.SqlClient" />
        <add name="AD_Employee.Properties.Settings.Rig_TicketingConnectionString"
            connectionString="Data Source=txhousqlc01;Initial Catalog=Rig_Ticketing;User ID=workflowgen;Password=Pwnzor93"
            providerName="System.Data.SqlClient" />
        <add name="AD_Employee.Properties.Settings.Rig_TicketingConnectionString1"
            connectionString="Data Source=txhousqlc01;Initial Catalog=Rig_Ticketing;User ID=sql_admin;Password=55vv35XX02"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
